{% extends '_base.html' %}
{% block title %} Jokes {% endblock %}

{% block main %} 

<a class="btn btn-success btn-sm float-right" href="{% url 'jokes:create' %}"> + New Jokes</a>

<h2>Jokes</h2>
<div class="table-responsive">
    <table class="table table-striped" style="min-width:50px">
        <thead>
            <tr>
                <th>Joke</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for joke in joke_list %}
            <tr>
                <td><a href="{{joke.get_absolute_url}}">{{joke.question}}</a></td>
                <td>{{joke.category.category}}<br>
                {% for tag in joke.tags.all %} 
                <span class="badge badge-pill badge-secondary">{{tag.tag}}</span>
                {%endfor%} 
                </td>
                {% if user == joke.user %}
                <td>
                    <a href="{% url 'jokes:update' joke.slug%}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="{% url 'jokes:delete' joke.slug %}"><i class="fa fa-trash" aria-hidden="true"></i></a> 
                </td>
                {%else%}
                <td>
                    <small>Created by {{joke.user.username}}</small>
                </td>
                {%endif%}
            </tr>
            {%endfor%}
        </tbody>

    </table>

</div>
<!--
<ul class="list-group list-group-flush mb-3">
{% for joke in joke_list %}
<li class="list-group-item"><a href="{{ joke.get_absolute_url }}">{{ joke.question }}</a>
<a href="{% url 'jokes:update' joke.slug %}" class="btn btn-info btn-sm float-right mr-2">Update</a>
<a href="{% url 'jokes:delete' joke.slug %}" class="btn btn-danger btn-sm float-right mr-2">Delete</a>
</li>
{% endfor %}
</ul>
-->
{% include 'includes/pagination.html' %}
{% endblock %}